<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BassPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <BassPlayer.Properties.Settings>
            <setting name="WindowLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MediaKeys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RecentXML" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentCount" serializeAs="String">
                <value>30</value>
            </setting>
        </BassPlayer.Properties.Settings>
    </userSettings>
</configuration>